    </main>

    <footer class="bg-dark container-fluid p-5">
      <ul class="nav nav-pills justify-content-center mb-3">
        <li class="nav-item">
          <a class="nav-link text-primary lead" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary lead" href="/providers">Internet Providers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary lead" href="/contact">Contact</a>
        </li>
      </ul>
      <small class="w-50 d-block text-light text-center mx-auto my-0">Get Web KH cannot be held responsible for any changes in pricing, speeds or level of service by any provider as pricing, speeds or service may change without notice. All Rights Reserved. Copyright &copy; 2017</small>
    </footer>
  </body>
  <script language="javascript" src="/js/wi_main.min.js"></script>
</html>